@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
.about-container {
  display: flex;
  flex-direction: column; }
  .about-container p {
    font-size: 20px;
    font-family: "Alegreya", serif; }
  .about-container h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: black;
    opacity: 0.85; }
  .about-container .family {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 90vh;
    background-color: #d7fbe8; }
    .about-container .family .family-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      background-color: #9df3c4; }
      .about-container .family .family-text h1 {
        margin-bottom: 7vh;
        font-size: 5vw;
        margin-left: 5vw;
        border-radius: 10px;
        text-shadow: 2px 2px 3px #1fab89; }
      .about-container .family .family-text p {
        width: 30vw;
        margin-left: 5vw; }
    .about-container .family .image-container {
      display: grid;
      height: 100%;
      width: 100%;
      background: url("../images/doggo-background-texture-3.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 3%; }
      .about-container .family .image-container img {
        place-self: center;
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        object-fit: cover; }
  .about-container .facilities .banner {
    display: grid;
    height: 50vh;
    background: url("../images/about-banner-placeholder.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; }
    .about-container .facilities .banner h1 {
      justify-self: center;
      align-self: center;
      font-family: "Montserrat", sans-serif;
      font-size: 5vw;
      font-weight: 300;
      color: white;
      opacity: 0.85;
      text-shadow: 2px 2px 3px #1fab89; }
  .about-container .facilities .tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #9df3c4; }
    .about-container .facilities .tiles img {
      width: 100%;
      height: 50vh;
      object-fit: cover; }
    .about-container .facilities .tiles p {
      justify-self: center;
      align-self: center;
      text-align: center;
      width: 60%;
      padding: 5%;
      background-color: #d7fbe8;
      border-radius: 10px; }
    .about-container .facilities .tiles .tile-1 {
      box-shadow: -7px 10px 10px #1fab89; }
    .about-container .facilities .tiles .tile-2 {
      box-shadow: 7px 10px 10px #1fab89; }
    .about-container .facilities .tiles .tile-3 {
      box-shadow: -7px 10px 10px #1fab89; }
  .about-container .links {
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .about-container .links a {
      text-decoration: none;
      text-align: center;
      justify-self: center;
      align-self: center;
      background-color: #d7fbe8;
      border: 2px outset #9df3c4;
      box-shadow: 7px 10px 10px #d7fbe8;
      padding: 20px 10px;
      border-radius: 10px; }
      .about-container .links a p {
        width: 20vw;
        font-family: "Montserrat", sans-serif;
        font-size: 2.7vw;
        color: black; }
