@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
.contact h1,
.contact h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300; }

.contact p,
.contact td {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif; }

.contact .contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #9df3c4;
  padding-bottom: 10vh; }
  .contact .contact-info .banner {
    height: 40vh;
    width: 100%;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner-placeholder-3.jpg);
    background-position: 50% 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; }
    .contact .contact-info .banner h1,
    .contact .contact-info .banner h2 {
      color: white;
      opacity: 0.85;
      text-shadow: 2px 2px 3px #1fab89; }
    .contact .contact-info .banner h1 {
      font-size: 5vw;
      margin-bottom: 5vh; }
    .contact .contact-info .banner h2 {
      font-size: 2.5vw;
      font-style: italic; }
  .contact .contact-info p {
    width: 70%;
    padding: 5%;
    background-color: #d7fbe8;
    border: 2px outset #9df3c4;
    border-radius: 10px;
    box-shadow: 7px 10px 10px #d7fbe8; }
  .contact .contact-info table {
    justify-self: center;
    max-width: 80%;
    min-width: 60%;
    background-color: #d7fbe8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 7px 10px 10px #d7fbe8;
    border: 2px outset #9df3c4;
    margin: 3vw; }
    .contact .contact-info table tr td {
      border-bottom: 5px dotted #13614d;
      border-right: none;
      padding: 10px 0; }
    .contact .contact-info table tr td:nth-child(2) {
      text-align: center; }
  .contact .contact-info iframe {
    width: 40vw;
    border-radius: 10px;
    box-shadow: 7px 10px 10px #d7fbe8;
    border: 1px solid #9df3c4; }
  .contact .contact-info .contact-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
