@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #13614d; }
  footer a {
    display: inline-block;
    color: white;
    transition: all 0.3s; }
    footer a span {
      word-break: break-word !important; }
  footer ul {
    list-style-type: none; }
  footer a:hover {
    transform: translateX(5px); }
  @media screen and (max-width: 700px) {
    footer {
      flex-direction: column; }
      footer ul,
      footer p {
        width: 50%;
        padding: 10px 0;
        text-align: center; } }
  @media screen and (min-width: 2500px) {
    footer a,
    footer li,
    footer p,
    footer span {
      font-size: 1.5rem; } }
  @media screen and (min-width: 3700px) {
    footer a,
    footer li,
    footer p,
    footer span {
      font-size: 2rem; } }
