.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: 600px;
  gap: 20px;
  place-items: center;
  width: 100%;
  padding: 5vh 20px;
  box-sizing: border-box; }
  .gallery .overflow-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-sizing: border-box; }
    .gallery .overflow-container img {
      object-fit: cover;
      object-position: top;
      transition: all 0.3s;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      cursor: pointer; }
    .gallery .overflow-container img:hover {
      transform: scale(1.1); }
  .gallery .modal {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.7s;
    z-index: 10000; }
    .gallery .modal button {
      position: fixed;
      top: 10vh;
      right: 10vh; }
  @media screen and (max-width: 540px) {
    .gallery {
      grid-template-columns: 1fr;
      grid-auto-rows: 400px;
      gap: 10px;
      padding: 5vh 10px; } }
