@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
.landing-container .title-banner, .landing-container .title-banner .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.landing-container .description .text-container p {
  box-shadow: -7px 10px 10px #1fab89;
  border-radius: 10px; }

.landing-container .description .text-container p {
  background: url("../images/doggo-background-texture-3.png");
  background-repeat: no-repeat;
  background-size: cover; }

.landing-container .description .call-to-action {
  background: url("../images/doggo-background-texture-2-crop-2.png");
  background-repeat: no-repeat;
  background-size: cover; }

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(200%); }
  80% {
    opacity: 0.7; }
  to {
    opacity: 1; } }

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200%); }
  80% {
    opacity: 0.7; }
  to {
    opacity: 1; } }

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); }
  to { } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.landing-container {
  background-color: #ecfaf3;
  margin-top: 10vh;
  overflow-x: hidden; }
  .landing-container .title-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner-placeholder.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    animation: fadeIn 1s ease-out backwards; }
    .landing-container .title-banner .titles {
      padding: 30px 50px;
      border-radius: 10px; }
      .landing-container .title-banner .titles h1,
      .landing-container .title-banner .titles h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: white;
        opacity: 0.85;
        text-shadow: 2px 2px 3px #1fab89; }
      .landing-container .title-banner .titles h1 {
        font-size: 5vw;
        margin-bottom: 5vh;
        animation: fadeIn 1s 1s backwards; }
      .landing-container .title-banner .titles h2 {
        font-size: 2.5vw;
        font-style: italic;
        animation: fadeIn 1s 1.3s backwards; }
  .landing-container .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    min-height: 40vh;
    width: 100%; }
    .landing-container .description .text-container {
      display: grid;
      place-items: center;
      margin: 10%;
      background-color: #d7fbe8;
      border-radius: 10px;
      animation: fadeInFromLeft 1s 1.5s backwards; }
      .landing-container .description .text-container p {
        flex-grow: 1;
        font-family: "Alegreya", serif;
        font-size: 20px;
        padding: 3vh; }
    .landing-container .description .call-to-action {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      animation: fadeIn 1s 0.5s ease-out backwards; }
      .landing-container .description .call-to-action a {
        color: black;
        font-weight: 300;
        padding-bottom: 20px;
        font-size: 3vw;
        text-shadow: 2px 2px 3px #1fab89;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 7px 10px 10px #bf9b30;
        background: radial-gradient(#e3f39b, #ffbf00);
        animation: fadeInFromRight 1s 1.5s backwards; }
