.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing-container .banner {
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner-placeholder.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; }
    .landing-container .banner h1,
    .landing-container .banner h2 {
      color: white;
      opacity: 0.8; }
    .landing-container .banner h1 {
      font-size: 50px; }
  .landing-container .description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30vh; }
    .landing-container .description p {
      width: 80%;
      padding: 40px;
      font-size: 20px;
      background-color: #d7fbe8;
      border-radius: 10px;
      box-shadow: 7px 10px 10px #9df3c4; }
