@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap");
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing-container .title-banner {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner-placeholder.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; }
    .landing-container .title-banner .titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 50px;
      border-radius: 10px; }
      .landing-container .title-banner .titles h1,
      .landing-container .title-banner .titles h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: white;
        opacity: 0.85;
        text-shadow: 2px 2px 3px #1fab89; }
      .landing-container .title-banner .titles h1 {
        font-size: 5vw;
        margin-bottom: 5vh; }
      .landing-container .title-banner .titles h2 {
        font-size: 2.5vw;
        font-style: italic; }
  .landing-container .description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    width: 70%; }
    .landing-container .description p {
      width: auto;
      padding: 20px;
      margin: 5vh 0;
      font-size: 20px;
      font-family: "Alegreya", serif;
      background-color: #d7fbe8;
      border: 2px outset #9df3c4;
      border-radius: 10px;
      box-shadow: 7px 10px 10px #9df3c4; }
