@import 'variables/variables';
@import './variables/mixins';
@import './variables/animations';

.about-container {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
	overflow-x: hidden;
	p {
		font-size: 1.25rem;
		font-family: $text-font;
	}
	h1 {
		@include title-styles(black);
	}
	.family {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		min-height: 90vh;
		background-color: $green1;
		.family-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			height: 100%;
			width: 100%;
			background-color: $green2;
			.overflow-container {
				margin-left: 5vw;
				h1 {
					width: 90%;
					margin-bottom: 7vh;
					font-size: 6rem;
					animation: fadeInFromAbove 1s 0.3s ease-out backwards;
				}
				p {
					width: 75%;
					animation: fadeInFromLeft 1s 0.7s ease-out backwards;
					padding-bottom: 20px;
				}
			}
		}
		.image-container {
			@extend %light-wallpaper;
			display: grid;
			place-items: center;
			height: 100%;
			width: 100%;
			background-position: 3%;
			animation: fadeIn 1s 0.5s ease-out backwards;
			img {
				@include circular-image(30vw);
				animation: fadeIn 1s 1.7s ease-out backwards;
			}
		}
	}
	.facilities {
		.banner {
			@include parallax-banner('../images/about-banner-placeholder.jpg');
			display: grid;
			place-items: center;
			height: 50vh;
			animation: fadeIn 1s ease-out backwards;
			h1 {
				@include title-styles(white);
				font-size: 6rem;
			}
		}
		.tiles {
			display: grid;
			grid-template-columns: 1fr 1fr;
			place-items: center;
			background-color: $green2;
			img {
				width: 100%;
				height: 50vh;
				object-fit: cover;
				animation: fadeIn 1s ease-out backwards;
			}
			p {
				@extend %light-wallpaper;
				position: relative;
				text-align: center;
				width: 60%;
				padding: 5%;
			}
			.tile-1,
			.tile-3 {
				@extend %left-card;
				left: 7px;
				bottom: 10px;
				animation: fadeIn 1s ease-out backwards;
			}
			.tile-2 {
				@extend %right-card;
				right: 7px;
				bottom: 10px;
				animation: fadeIn 1s ease-out backwards;
			}
		}
	}
	@media screen and (max-width: 1350px) {
		.family {
			.family-text {
				.overflow-container {
					h1 {
						margin-bottom: 20px;
						font-size: 5rem;
					}
					p {
						font-size: 1.125rem;
					}
				}
			}
			.image-container {
				img {
					height: 35vw;
					width: 35vw;
				}
			}
		}
	}
	@media screen and (max-width: 1050px) {
		.family {
			.family-text {
				.overflow-container {
					h1 {
						font-size: 3.4rem;
						width: 90%;
					}
					p {
						font-size: 1rem;
						width: 85%;
					}
				}
			}
			.image-container {
				img {
					height: 40vw;
					width: 40vw;
				}
			}
		}
	}
	@media screen and (max-width: 700px) {
		.family {
			grid-template-columns: 100%;
			grid-template-rows: 40vh minmax(50vh, auto);
			.family-text {
				.overflow-container {
					margin: 0;
					display: grid;
					place-items: center;
					h1,
					p {
						text-align: center;
						width: 90%;
						padding: 10px 0;
					}
				}
			}
			.image-container {
				img {
					height: 35vh;
					width: 35vh;
				}
			}
		}
	}
	@media screen and (min-width: 2500px) {
		.family {
			.family-text {
				.overflow-container {
					h1 {
						font-size: 8rem;
					}
					p {
						font-size: 1.875rem;
					}
				}
			}
		}
	}
	@media screen and (min-width: 3700px) {
		.family {
			.family-text {
				.overflow-container {
					h1 {
						font-size: 10rem;
					}
					p {
						font-size: 2.5rem;
					}
				}
			}
		}
	}
}
