@import 'variables/variables';
@import './variables/mixins';
@import './variables/animations';

.about-container {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
	overflow-x: hidden;
	p {
		font-size: 20px;
		font-family: $text-font;
	}
	h1 {
		@include title-styles(black);
	}
	.family {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 90vh;
		background-color: $green1;
		.family-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			height: 100%;
			width: 100%;
			background-color: $green2;
			.overflow-container {
				margin-left: 5vw;
				h1 {
					margin-bottom: 7vh;
					font-size: 5vw;
					animation: fadeInFromAbove 1s 0.3s ease-out backwards;
				}
				p {
					width: 30vw;
					animation: fadeInFromLeft 1s 0.7s ease-out backwards;
				}
			}
		}
		.image-container {
			@extend %light-wallpaper;
			display: grid;
			place-items: center;
			height: 100%;
			width: 100%;
			background-position: 3%;
			animation: fadeIn 1s 0.5s ease-out backwards;
			img {
				@include circular-image(30vw);
				animation: fadeIn 1s 1.7s ease-out backwards;
			}
		}
	}
	.facilities {
		.banner {
			@include parallax-banner('../images/about-banner-placeholder.jpg');
			display: grid;
			place-items: center;
			height: 50vh;
			animation: fadeIn 1s ease-out backwards;
			h1 {
				@include title-styles(white);
				font-size: 5vw;
			}
		}
		.tiles {
			display: grid;
			grid-template-columns: 1fr 1fr;
			place-items: center;
			background-color: $green2;
			img {
				width: 100%;
				height: 50vh;
				object-fit: cover;
				animation: fadeIn 1s backwards;
			}
			p {
				@extend %light-wallpaper;
				position: relative;
				text-align: center;
				width: 60%;
				padding: 5%;
			}
			.tile-1,
			.tile-3 {
				@extend %left-card;
				left: 7px;
				bottom: 10px;
				animation: fadeInFromLeft 1s ease-out backwards;
			}
			.tile-2 {
				@extend %right-card;
				right: 7px;
				bottom: 10px;
				animation: fadeInFromRight 1s ease-out backwards;
			}
		}
	}
}
