@import 'variables/variables';
@import './variables/mixins';

.about-container {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
	p {
		font-size: 20px;
		font-family: $text-font;
	}
	h1 {
		@include title-styles(black);
	}
	.family {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 90vh;
		background-color: $green1;
		.family-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			height: 100%;
			width: 100%;
			background-color: $green2;
			h1 {
				margin-bottom: 7vh;
				font-size: 5vw;
				margin-left: 5vw;
			}
			p {
				width: 30vw;
				margin-left: 5vw;
			}
		}
		.image-container {
			@extend %light-wallpaper;
			display: grid;
			place-items: center;
			height: 100%;
			width: 100%;
			background-position: 3%;
			img {
				@include circular-image(30vw);
			}
		}
	}
	.facilities {
		.banner {
			@include parallax-banner('../images/about-banner-placeholder.jpg');
			display: grid;
			place-items: center;
			height: 50vh;
			h1 {
				@include title-styles(white);
				font-size: 5vw;
			}
		}
		.tiles {
			display: grid;
			grid-template-columns: 1fr 1fr;
			place-items: center;
			background-color: $green2;
			img {
				width: 100%;
				height: 50vh;
				object-fit: cover;
			}
			p {
				@extend %light-wallpaper;
				position: relative;
				text-align: center;
				width: 60%;
				padding: 5%;
			}
			.tile-1,
			.tile-3 {
				@extend %left-card;
				left: 7px;
				bottom: 10px;
			}
			.tile-2 {
				@extend %right-card;
				right: 7px;
				bottom: 10px;
			}
		}
	}
}
