@import 'variables/variables';
@import 'variables/mixins';
@import './variables/animations';

.contact {
	margin-top: 10vh;
	h1,
	h2,
	th,
	.address-header,
	.phone-numbers-header {
		@include title-styles(white);
	}
	h1 {
		font-size: 5vw;
	}
	p,
	td {
		font-size: 20px;
		font-family: $text-font;
	}
	.contact-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 35vh 40vh 50vh 40vh;
		place-items: center;
		background-color: $background-color;
		p {
			width: 500px;
			padding: 16px;
			background-color: $green1;
		}

		.banner {
			@include parallax-banner('../images/banner-placeholder-3.jpg');
			@extend %centered-column-flexbox;
			grid-area: 1 / 1 / 2 / 3;
			height: 100%;
			width: 100%;
			h1 {
				margin-bottom: 5vh;
			}
			h2 {
				font-size: 2.5vw;
				font-style: italic;
			}
		}
		.opening-paragraph {
			@extend %light-wallpaper;
			@extend %left-card;
			grid-area: 2 / 1 / 3 / 2;
		}
		.phone-numbers,
		.address {
			@extend %centered-column-flexbox;
			width: 100%;
			height: 100%;
			p {
				@extend %right-card;
				text-align: center;
				span {
					color: black;
					font-weight: 400;
					padding-bottom: 20px;
				}
				padding-bottom: 20px;
			}
		}
		.phone-numbers {
			@extend %dark-wallpaper;
			p {
				font-size: 1.5rem;
				background: radial-gradient($gold2, $gold3);
				box-shadow: 7px 10px 10px $gold4;
				.phone-numbers-header {
					display: block;
					font-size: 2.5rem;
				}
				a {
					text-decoration: none;
					span {
						font-size: 2rem;
						padding-left: 1rem;
					}
				}
			}
		}
		iframe {
			grid-area: 3 / 1 / 3 / 3;
			width: 100%;
			height: 100%;
		}
		.table-background {
			grid-area: 4 / 1 / 5 / 2;
			height: 100%;
			width: 100%;
			background: url('../images/doggo-background-texture-2-crop-2.png');
			background-repeat: repeat;
			background-size: cover;
		}
		table {
			@extend %left-card;
			grid-area: 4 / 1 / 5 / 2;
			width: 500px;
			padding: 20px;
			background-color: $green1;
			animation: fadeIn 1s ease-out backwards;
			tr {
				th {
					font-size: 2rem;
					font-weight: 400;
					color: black;
				}
				td,
				th {
					border-bottom: 5px dotted $green5;
					border-right: none;
					padding: 10px 0;
				}
				td:nth-child(2) {
					text-align: center;
				}
			}
		}
		.address {
			grid-area: 4 / 2 / 5 / 3;
			p {
				@extend %light-wallpaper;
				animation: fadeIn 1s ease-out backwards;
				.address-header {
					font-size: 2.5rem;
					color: black;
				}
			}
		}
	}
}
