@import './variables/mixins';
@import './variables/variables';

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 15vh;
	font-family: $title-font;
	color: white;
	background-color: $green5;
	a {
		text-decoration: none;
		color: white;
	}
	ul {
		list-style-type: none;
	}
	@media screen and (max-width: 1350px) {
	}
	@media screen and (max-width: 1050px) {
	}
	@media screen and (max-width: 700px) {
	}
	@media screen and (min-width: 2500px) {
	}
	@media screen and (min-width: 3700px) {
	}
}
