.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-auto-rows: 600px;
	gap: 20px;
	place-items: center;
	width: 100%;
	padding: 5vh 20px;
	box-sizing: border-box;
	.overflow-container {
		overflow: hidden;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		img {
			object-fit: cover;
			object-position: top;
			transition: all 0.3s;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		img:hover {
			transform: scale(1.1);
		}
	}
}
