@import 'variables/variables';

.landing-container {
	background-color: $background-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.title-banner {
		width: 100%;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
			url(../images/banner-placeholder.jpg);
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		.titles {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px 50px;
			border-radius: 10px;
			h1,
			h2 {
				font-family: $title-font;
				font-weight: 300;
				color: white;
				opacity: 0.85;
				text-shadow: 2px 2px 3px $green4;
			}
			h1 {
				font-size: 5vw;
				margin-bottom: 5vh;
			}
			h2 {
				font-size: 2.5vw;
				font-style: italic;
			}
		}
	}
	.description {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		align-items: center;
		height: 40vh;
		width: 100%;
		.text-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 10%;
			background-color: $green1;
			border-radius: 10px;
			p {
				flex-grow: 1;
				padding: 3vh;
				font-size: 20px;
				font-family: $text-font;
			}
		}
		.call-to-action {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: url('../images/doggo-background-texture-2.png');
			background-repeat: no-repeat;
			background-size: 150%;
			a {
				font-size: 3vw;
				color: $green5;
				text-shadow: 0 0 5px $green2;
				text-decoration: none;
				font-family: $title-font;
				padding: 20px;
				border-radius: 10px;
				border: 2px solid $gold2;
				background: radial-gradient($gold2, $gold3);
			}
		}
	}
}
