@import 'variables/variables';

.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.banner {
		width: 70%;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
			url(../images/banner-placeholder.jpg);
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		h1,
		h2 {
			color: white;
			opacity: 0.8;
		}
		h1 {
			font-size: 50px;
		}
	}
	.description {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 30vh;
		p {
			width: 80%;
			padding: 40px;
			font-size: 20px;
			background-color: $container-color;
			border-radius: 10px;
			box-shadow: 7px 10px 10px $container-shadow;
		}
	}
}
