@import 'variables/variables';
@import 'variables/mixins';
@import 'variables/animations';

.landing-container {
	background-color: $background-color;
	margin-top: 10vh;
	overflow-x: hidden;
	.title-banner {
		@extend %centered-column-flexbox;
		@include parallax-banner('../images/banner-placeholder.jpg');
		width: 100%;
		min-height: 50vh;
		animation: fadeIn 1s ease-out backwards;
		.titles {
			@extend %centered-column-flexbox;
			padding: 30px 0;
			border-radius: 10px;
			h1,
			h2 {
				@include title-styles(white);
			}
			h1 {
				font-size: 5vw;
				margin-bottom: 5vh;
				animation: fadeIn 1s 1s backwards;
			}
			h2 {
				font-size: 2.5vw;
				font-style: italic;
				animation: fadeIn 1s 1.3s backwards;
			}
		}
	}
	.call-to-action {
		min-height: 40vh;
		@extend %light-wallpaper;
		display: grid;
		place-items: center;
		width: 100%;
		height: 100%;
		animation: fadeIn 1s 0.5s ease-out backwards;
		a {
			color: black;
			font-weight: 300;
			font-size: 4rem;
			text-shadow: 2px 2px 3px $green4;
			text-decoration: none;
			font-family: $title-font;
			padding: 40px 60px;
			border-radius: 10px;
			box-shadow: 7px 10px 10px $gold4;
			background: radial-gradient($gold2, $gold3);
			animation: fadeInFromRight 1s 1.5s backwards;
			transition: 0.3s;
		}
		a:hover {
			transform: scale(1.05);
		}
	}
	@media screen and (max-width: 1350px) {
		.call-to-action {
			a {
				font-size: 3rem;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		.title-banner {
			min-height: 40vh;
			.titles {
				h1,
				h2 {
					font-weight: 400;
				}
				h2 {
					font-size: 3vw;
				}
			}
		}
		.call-to-action {
			min-height: 50vh;
			a {
				font-size: 2.5rem;
			}
		}
	}
	@media screen and (max-width: 700px) {
		.title-banner {
			.titles {
				padding: 0;
				h1 {
					font-size: 2rem;
					text-align: center;
					padding: 0 20px;
				}
				h2 {
					font-size: 1.25rem;
					text-align: center;
					padding: 0 20px 10px;
				}
			}
		}
		.call-to-action {
			grid-row: 1 / span 2;
			a {
				font-size: 2rem;
				padding: 20px 30px;
			}
		}
	}
	@media screen and (min-width: 2500px) {
		.call-to-action {
			a {
				font-size: 6rem;
			}
		}
	}
	@media screen and (min-width: 3700px) {
		.call-to-action {
			a {
				font-size: 8rem;
			}
		}
	}
}
