@import 'variables/variables';

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 20vh;
	background-color: $container-color;
	.logo {
		display: flex;
		align-items: center;
		img {
			height: 18vh;
			width: auto;
			margin-left: 3vw;
		}
		h4 {
			font-family: $title-font;
			font-size: 5vh;
		}
	}
	ul {
		display: flex;
		list-style-type: none;
		justify-content: space-around;
		align-items: center;
		width: 50vw;
		margin-right: 3vw;
		li {
			transition: all 0.3s;
			a {
				font-family: $text-font;
				font-size: 30px;
				color: black;
				text-decoration: none;
			}
		}
	}
}
