@import './variables/variables';
@import './variables/animations';

nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	height: 10vh;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: $background-color;
	border-bottom: 1px solid $green5;
	.logo {
		animation: slideFromLeft 0.9s ease-out;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		text-decoration-color: rgba(0, 0, 0, 0);
		img {
			height: 8vh;
			width: auto;
			margin-left: 5vh;
			margin-right: 1vw;
		}
		h4 {
			margin: 0;
			padding: 0;
			font-family: $title-font;
			font-size: 4vh;
			font-weight: 300;
			color: black;
		}
	}
	.nav-button {
		display: none;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		place-items: center;
		width: 100%;
		height: 100%;
		list-style-type: none;
		transition: all 1s;
		li {
			display: grid;
			place-items: center;
			height: 100%;
			width: 100%;
			a {
				font-family: $title-font;
				font-weight: 400;
				font-size: 1.5rem;
				color: black;
				text-decoration-color: rgba(0, 0, 0, 0);
			}
		}
		.visible {
			opacity: 1;
		}
		.invisible {
			opacity: 0;
		}

		$color-map: (
			1: $green1,
			2: $green2,
			3: $green3,
			4: $green4,
		);
		@for $i from 1 through 4 {
			li:nth-child(#{$i}) {
				background-color: map-get($map: $color-map, $key: $i);
				animation: fadeInFromRight 0.7s ($i * 0.2s) backwards ease-out;
				transition: all ($i * 0.1s + 0.3s) ease-out;
			}
		}
	}
	a:hover {
		transform: translateX(10px);
		text-decoration-color: rgba(0, 0, 0, 0.5);
	}
	a {
		transition: all 0.3s;
	}
	@media screen and (max-width: 1350px) {
		ul {
			li {
				a {
					font-size: 1.25rem;
				}
				a:hover {
					transform: none;
				}
			}
		}
	}
	@media screen and (max-width: 1050px) {
		position: absolute;
		grid-template-columns: 1fr;
		.logo {
			img {
				margin-left: 0;
			}
			h4 {
				margin-right: 15vw;
				font-size: 3vh;
				font-weight: 400;
			}
		}
		.nav-button {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			position: fixed;
			top: 3vh;
			right: 3vh;
			z-index: 5000;
			height: 40px;
			width: 40px;
			.line {
				background-color: $green5;
				height: 6px;
				width: 80%;
				border-radius: 3px;
				transition: 0.5s;
			}
			.line-animated {
				transform: rotate3d(1, 0.5, 1, 360deg);
			}
			.middle-line-animated {
				transform: rotate3d(1, 0.5, 1, -360deg);
			}
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			position: fixed;
			top: 0;
			right: 0;
			height: 100vh;
			width: 30%;
			opacity: 0.85;
			li {
				a {
					font-size: 1.5rem;
				}
			}
		}
	}
	@media screen and (max-width: 700px) {
		ul {
			width: 50%;
			li {
				a {
					font-size: 1.5rem;
				}
			}
		}
	}
	@media screen and (min-width: 2500px) {
		ul {
			li {
				a {
					font-size: 2.25rem;
				}
			}
		}
	}
	@media screen and (min-width: 3700px) {
		ul {
			li {
				a {
					font-size: 3rem;
				}
			}
		}
	}
}
