@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

$background-color: #ecfaf3;
$green1: #d7fbe8;
$green2: #9df3c4;
$green3: #62d2a2;
$green4: #1fab89;
$green5: #13614d;

$gold1: #fde6a0;
$gold2: hsl(71, 78%, 78%);
$gold3: #ffbf00;
$gold4: #bf9b30;

$text-font: 'Alegreya', serif;
$title-font: 'Montserrat', sans-serif;
